/* Settings */

$menu-bg-color: #47a3da;
$menu-divider-color: #258ecd;
$title-bg-color: #0d77b6;
$text-color: #afdefa;

/* General styles for all menus */

.sp-menu {
  background: $menu-bg-color;
  position: fixed;
  h3 {
    color: $text-color;
    font-size: 1.9em;
    padding: 20px;
    margin: 0;
    font-weight: 300;
    background: $title-bg-color;
  }

  a {
    display: block;
    color: #fff;
    font-size: 1.1em;
    font-weight: 300;
    &:hover {
      background: $menu-divider-color;
    }
    &:active {
      background: $text-color;
      color: $menu-bg-color;
    }
  }
  .handle {
    padding: 2em;
    position: absolute;
    &.left {
      left: 2rem;
    }

    &.right {
      left: auto;
      right: 2rem;
    }

    &.top {
      top: 2rem;
    }

    &.bottom {
      top: auto;
      bottom: 2rem;
    }
    .close {
      display: none;
    }
  }

  &.sp-menu-open{
    .handle .burger-menu{
      display: none;
    }
    .handle .close{
      display: block;
    }
  }
}

/* Orientation-dependent styles for the content of the menu */

.sp-menu-left, .sp-menu-right {
  width: 240px;
  height: 100%;
  top: 0;
  z-index: 1000;
  a {
    border-bottom: 1px solid $menu-divider-color;
    padding: 1em;
  }
  .handle {
    top: 2rem;
  }
}

.sp-menu-left .handle {
  right: 0;
  transform: translateX(100%);
}

.sp-menu-right .handle {
  transform: translateX(-100%);
}

.sp-menu-top, .sp-menu-bottom {
  width: 100%;
  height: 150px;
  left: 0;
  z-index: 1000;
  h3 {
    height: calc(100% - 40px);
    width: 20%;
    float: left;
  }
  a {
    float: left;
    width: 20%;
    padding: 0.8em;
    border-left: 1px solid $menu-divider-color;
  }

  .handle {
    left: 2rem;
  }

}

.sp-menu-top .handle {
  bottom: 0;
  transform: translateY(100%);
}

.sp-menu-bottom .handle {
  transform: translateY(-100%);
}

/* Vertical menu that slides from the left or right */

.sp-menu-left {
  left: -240px;
  &.sp-menu-open {
    left: 0;
  }
}

.sp-menu-fixed-handle {
  &.sp-menu-open .handle {
    top: 0;
    transform: none;
  }
}

.sp-menu-right {
  right: -240px;
  &.sp-menu-open {
    right: 0;
  }
}

/* Horizontal menu that slides from the top or bottom */

.sp-menu-top {
  top: -150px;
  &.sp-menu-open {
    top: 0;
  }
}

.sp-menu-bottom {
  bottom: -150px;
  &.sp-menu-open {
    bottom: 0;
  }
}

/* Push classes applied to the body */

.sp-menu-push {
  overflow-x: hidden;
  position: relative;
  left: 0;
}

.sp-menu-push-toright {
  left: 240px;
}

.sp-menu-push-toleft {
  left: -240px;
}

.sp-menu-push-totop {
  top: -150px;
}

.sp-menu-push-tobottom {
  top: 150px;
}

/* Transitions */

.sp-menu,
.sp-menu-push {
  transition: all 0.3s ease;
}

/* Example media queries */

@media screen and (max-width: 55.1875em) {

  .sp-menu-top, .sp-menu-bottom {
    font-size: 75%;
    height: 110px;
  }

  .sp-menu-top,
  .sp-menu-push-totop {
    top: -110px;
  }

  .sp-menu-bottom {
    bottom: -110px;
  }

  .sp-menu-push-tobottom {
    top: 110px;
  }

}

@media screen and (max-height: 26.375em) {

  .sp-menu-left, .sp-menu-right {
    font-size: 90%;
    width: 190px;
  }

  .sp-menu-left,
  .sp-menu-push-toleft {
    left: -190px;
  }

  .sp-menu-right {
    right: -190px;
  }

  .sp-menu-push-toright {
    left: 190px;
  }
}
